// CUSTOM FONTS
$font-family-sans-serif: 'Roboto', sans-serif;

// CUSTOM COLORS
$primary: #FFE9B0;
$secondary: #AB8467;
$success: #2D5E38;
$info: #AEEEF7;
$danger: #763E3E;
$warning: #FFE03A;

// Dropdown


// BOOTSTRAP ORIGINAL FILES
@import "../bootstrap/scss/bootstrap.scss";